h1 {
  background-color: blue;
  color: white;
  padding: 12px;
}
div#desc {
  padding-left: 3em;
  border: 1px solid blue;
}

li.message {
        margin-left: -50px;
        border-bottom: 0.5px solid white;
        width: 100vw;
        color: white;
        padding-left: 10px;
        background-color: deeppink;
    }
