<!-- ログイン画面 -->
{# レイアウトを継承する#}
{% extends "layout.html" %}

{% block title %}
ログイン
{% endblock %}

{% block header %}
画像処理サービス
{% endblock %}

{% block contents %}

<form action="/try_login" method="POST" class="pure-form pure-form-stacked">
  <legend>ログイン</legend>
  <fieldset>
    <label for="id">ユーザーID</label>
    <input type="number" name="id" id="id" min="0" max="999999">
    <label for="name">ユーザー名</label>
    <input type="text" name="name" id="name" maxlength='31'>
    <label for="password">パスワード</label>
    <input type="password" name="password" id="password">
    <button type="submit" class="pure-button pure-button-primary">
      ログイン</button>
  </fieldset>

  <h3>ユーザ登録</h3>
  <form action="/register" method="POST" class="pure-form pure-form-stacked">
    <input type="submit" class="pure-button pure-button-primary" value="新規登録">
  </form>
  {% endblock %}